
<div class="taskboard-wrapper">
    <div class="taskboard-list">
        <h6 class="taskboard-header">{{list.Option.Titulo}}</h6>
        <div class="taskboard-cards" [dragula]='"task-group"'>
            <app-taskboard-card *ngFor="let card of list.Cards" [card]="card"></app-taskboard-card>
        </div>
    </div>
</div>