<div class="content">
    <form class="ui form">
        <sui-accordion class="styled fluid" [closeOthers]="false">
            <sui-accordion-panel [isOpen]="true">
                <div title>
                    <i class="dropdown icon"></i>
                    Informações do Cliente
                </div>
                <div content>
                    <div class="fields">
                        <div class="eleven wide field  ">
                            <label>Cliente</label>
                            <sui-search class="ui fluid" optionsField="title" style="width: 100% !important;" [optionsLookup]="optionsSearch" valueField="id"
                                (resultSelected)="agendamento.EntidadeId = ($event.id)"> </sui-search>
                        </div>
                        <div class="four wide field">
                            <label>Contato</label>
                            <input type="text" name="shipping[address]" placeholder="(99) 9999-9999"> </div>
                    </div>
                    <div class="field">
                        <div class="ui warning message visible compact">
                            <i class="close icon"></i>
                            <div class="header"> Observações! </div> Cliente prefere café/limonada sem açucar. </div>
                    </div>
                </div>
            </sui-accordion-panel>
            <sui-accordion-panel [isOpen]="true">
                <div title>
                    <i class="dropdown icon"></i>
                    Informações do Atendimento
                </div>
                <div content>
                    <div class="field">
                        <sui-select class="floating labeled icon button" icon="filter" [options]="situacoesDeAgendamento" placeholder="Selecione a situação"
                            (selectedOptionChange)="agendamento.SituacaoId = ($event.id)" labelField="title" #filterSelect>
                            <div class="header">
                                <i class="tags icon"></i>
                                Situações
                            </div>
                            <sui-select-option *ngFor="let o of filterSelect.filteredOptions" [value]="o"></sui-select-option>
                        </sui-select>
                        <sui-select class="floating labeled icon button" icon="filter" [options]="tiposDeAgendamento" placeholder="Selecione a situação"
                            (selectedOptionChange)="agendamento.TipoDoAgendamento = ($event.id)" labelField="title" #filterSelectTp>
                            <div class="header">
                                <i class="tags icon"></i>
                                Situações
                            </div>
                            <sui-select-option *ngFor="let o of filterSelectTp.filteredOptions" [value]="o"></sui-select-option>
                        </sui-select>
                        <sui-select class="floating labeled icon button" icon="filter" [options]="tiposDeNotificacao" placeholder="Selecione a situação"
                            (selectedOptionChange)="agendamento.TipoDeNotificacao = ($event.id)" labelField="title" #filterSelectTpNotificacao>
                            <div class="header">
                                <i class="tags icon"></i>
                                Situações
                            </div>
                            <sui-select-option *ngFor="let o of filterSelectTpNotificacao.filteredOptions" [value]="o"></sui-select-option>
                        </sui-select>
                    </div>
                </div>
            </sui-accordion-panel>
            <sui-accordion-panel [isOpen]="true">
                <div title>
                    <i class="dropdown icon"></i>
                    Informações dos Serviços
                </div>
                <div content>
                    <div class="field">
                        <label>Serviço</label>
                        <sui-search class="ui fluid" style="width: 100% !important;" [optionsLookup]="optionsSearchServices" optionsField="title"
                            (resultSelected)="servicosSelected = $event;">
                        </sui-search>
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Profissional</label>
                            <sui-select class="ui fluid selection dropdown small" [options]="profissionais" placeholder="Profissional" labelField="title"
                                (selectedOptionChange)="loadDatasDisponiveis($event);" #filterSelectProfissionais>
                                <sui-select-option *ngFor="let o of filterSelectProfissionais.filteredOptions" [value]="o"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="three wide field">
                            <label>Data</label>
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input name="dtpker" suiDatepicker [(ngModel)]="datePicker" (pickerSelectedDateChange)="loadHorariosDisponiveis($event);" [pickerMode]="datePickerMode"
                                    [pickerUseNativeOnMobile]="false" [pickerPlacement]="datePickerLocal"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="three wide field">
                            <label>Horário</label>
                            <sui-select class="ui fluid selection dropdown small" [options]="horariosDisponiveis" (selectedOptionChange)="horarioDisponivelSelected = $event;"
                                placeholder="Horário" labelField="title" #filterSelectHorariosDisponiveis>
                                <sui-select-option *ngFor="let o of filterSelectHorariosDisponiveis.filteredOptions" [value]="o"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="three wide field">
                            <label>Duração</label>
                            <sui-select class="ui fluid selection dropdown small" (selectedOptionChange)="temposDeDuracaoPadraoSelected = $event;" [options]="temposDeDuracaoPadrao"
                                placeholder="Duração" labelField="title" #filterSelectDuracaoPadrao>
                                <sui-select-option *ngFor="let o of filterSelectDuracaoPadrao.filteredOptions" [value]="o"></sui-select-option>
                            </sui-select>
                        </div>
                        <div class="two wide field ">
                            <label class="ui mini" style="color:white;">06:00</label>
                            <button class="ui primary button fluid " (click)="AddItem();"> Add </button>
                        </div>
                    </div>
                    <div class="field">
                        <table class="ui green table">
                            <thead>
                                <tr>
                                    <th>Serviço</th>
                                    <th>Profissional</th>
                                    <th>Data</th>
                                    <th>Horário</th>
                                    <th>Duração</th>
                                    <th>Termino</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of agendamento.Items; let linha = index">
                                    <td>{{ item.Servico }}</td>
                                    <td>{{ item.Profissional }}</td>
                                    <td>{{ item.Data | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ item.Horario | time }}</td>
                                    <td>{{ item.Duracao | time }}</td>
                                    <td>Termino</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </sui-accordion-panel>
        </sui-accordion>
    </form>
</div>
<div class="actions">
    <div class="ui black deny button" (click)="modal.deny(undefined)"> Cancelar </div>
    <div class="ui positive right labeled icon button" (click)="salvarAgendamento();" autofocus> Salvar
        <i class="checkmark icon"></i>
    </div>
</div>