
<div class="ui two column grid">
  <div class="column">
    <div class="left-panel">
      <div class="ui segments">
        <div class="ui red raised segment">
          <h5 class="ui header">
              <i class="remove circle link icon red"></i>
              <div class="content">Geração do arquivo SPED Fiscal</div>
            </h5>
        </div>
        <div class="ui segment padded item">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="gift" tabindex="0" class="hidden">
            <label>Emissão de documentação</label>
          </div>
        </div>
        <div class="ui segment padded item">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="gift" tabindex="0" class="hidden">
            <label>Enviar boletos</label>
          </div>
        </div>
      </div>
      
      <div class="ui red segment padded item">
        <h5 class="ui header">
          <i class="exclamation circle link icon red"></i>
          <div class="content">Envio da documentação para os clientes
            <div class="sub header">Realizar o envio dos arquivo diretamente para o e-mail</div>
      
          </div>
        </h5>
      </div>
      <div class="ui orange segment padded item">
        <h5 class="ui header">
          <i class="circle outline link icon orange"></i>
          <div class="content">
            Imprimir notas fiscais
            <div class="sub header">Teste de impressão de notas</div>
          </div>
      
        </h5>
      </div>
      <div class="ui segments">
        <div class="ui green segment">
          <h5 class="ui header">
            <i class="check circle link icon green"></i>
            <div class="content">Criar um BUG</div>
          </h5>
        </div>
        <div class="ui segment padded item">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="gift" tabindex="0" class="hidden">
            <label>Emissão de documentação</label>
          </div>
        </div>
        <div class="ui segment padded item">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="gift" tabindex="0" class="hidden">
            <label>Enviar boletos</label>
          </div>
        </div>
        <div class="ui segment item padded">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="gift" tabindex="0" class="hidden">
            <label>Middle</label>
          </div>
        </div>
      </div>
    </div>

  </div>  
  <div class="column">
    <div class="ui segment padded">
      <app-tasks-details></app-tasks-details>
    </div>
  </div>       
</div>



