.ui.segment.item:hover{
    background: blanchedalmond;
    cursor: pointer;
}

.ui.segment.item:active{
    background: blanchedalmond;
    cursor: pointer;
}

.left-panel{
    overflow-y: scroll; 
    height: 35.3em; 
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.ui.breadcrumb a
{
    color: #21ba45;
}