
.task-item{
    cursor: pointer;
  }
  
.accordion-segment
{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.accordion-segment [title]
{
    color: rgba(0,0,0,.4) !important;
    font-weight: 700 !important;
}

.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px; 
    height: 1.2em; 
    white-space: nowrap;
}

.ui.segment:last-child{
    margin-bottom: 1em;
    margin-top: 1em;
}