<div id="{{card.Id}}" class="" [ngClass]="(card.AtividadesFilhas)?'ui segments task-item':''">
<div class="ui grey segment padded item task-item">
    <h5 class="ui header">
        <i class="circle outline link icon grey"></i>
        <div class="content">{{card.Titulo}}
        <div class="sub header text-overflow">{{card.SubTitulo}}</div>
        </div>
    </h5>
</div>
<sui-accordion *ngIf="card.AtividadesFilhas" class="ui bottom compact secondary attached segment accordion-segment" [closeOthers]="false">
    <sui-accordion-panel>
      <div title>
        <i class="dropdown icon"></i>
        Exibir tarefas
      </div>
      <div content>
          <div *ngFor="let childItem of card.AtividadesFilhas" class="ui vertical segment">
              <h5 class="ui header">
                <i class="circle outline link icon orange"></i>
                <div class="content">{{childItem.Titulo}}
                  <div class="sub header text-overflow">{{childItem.SubTitulo}}</div>
                </div>
              </h5>
            </div>
      </div>
    </sui-accordion-panel>
  </sui-accordion>
</div>