<br />
<div class="ui container">
  <div class="ui small breadcrumb">
    <a class="section" routerLink="/scheduling">Inicio</a>
    <i class="right chevron icon divider"></i>
    <a class="section active">Tarefas</a>
  </div>
  </div>
  <br />
<div class="ui container">  
  <div class="ui grid equal width">
    <div class="row">
      <div class="column">
        <div class="row">
          <sui-select [(ngModel)]="situacaoSelectedOption" [options]="situacoes" labelField="title" class="floating labeled icon button green"
            icon="filter" placeholder="Situações" #filterSelect>
            <div class="header">
              <i class="tags icon"></i>
              Filtrar pela situação
            </div>
            <sui-select-option *ngFor="let o of filterSelect.filteredOptions" [value]="o"></sui-select-option>
          </sui-select>

          <div class="ui icon input" style="width:25em;">
            <input type="text" name="searchString" placeholder="Descrição...">
            <i class="search icon"></i>
          </div>

        </div>


      </div>
      <div class="column right aligned">

        <button class="ui basic right button">
          <i class="icon download"></i>
          Exportar
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="ui container">
  <router-outlet></router-outlet>
</div>