<div class="nav-right nav-menu">
  <a class="nav-item is-active">
    Agenda
  </a>
  <a class="nav-item">
    Cadastros
  </a>
  <a class="nav-item">
    Gerencia
  </a>
  <span class="nav-item">
    <a class="button is-primary is-inverted">
      <span class="icon">
        <i class="fa fa-power-off"></i>
      </span>
      <span routerLink="/login">Sair</span>
    </a>
  </span>
</div>