<br />


<div class="ui container">
  <div class="ui small breadcrumb">
    <a class="section" routerLink="/scheduling">Inicio</a>
    <i class="right chevron icon divider"></i>
    <a class="section active">Recebimentos</a>
  </div>
</div>
<br />
<section class="section animated slideInUp">
  <div class="ui container">
    <div class="ui grid equal width">
      <div class="row">
        <div class="column">
          <div class="row">
            <sui-select [(ngModel)]="situacaoSelectedOption" [options]="situacoes" (selectedOptionChange)="loadRecebimentos($event);" labelField="title"
              class="floating labeled icon button green" icon="filter" placeholder="Situações" #filterSelect>
              <div class="header">
                <i class="tags icon"></i>
                Filtrar pela situação
              </div>
              <sui-select-option *ngFor="let o of filterSelect.filteredOptions" [value]="o"></sui-select-option>
            </sui-select>

            <div class="ui icon input" style="width:25em;">
              <input type="text" name="searchString" [(ngModel)]="searchString" placeholder="Nome, Código...">
              <i class="search icon"></i>
            </div>

          </div>


        </div>
        <div class="column right aligned">

          <button class="ui basic right button">
            <i class="icon download"></i>
            Exportar
          </button>
          <button class="ui basic right button green" (click)="newCustomer();">
            <i class="icon user"></i>
            Novo
          </button>

        </div>
      </div>
    </div>

    <table class="ui single line table selectable striped">
      <thead>
        <tr>
          <th class="center aligned">Código</th>
          <th>Vencimento</th>
          <th>Cliente</th>
          <th class="center aligned">Situação</th>
          <th class="right aligned">Valor</th>
          <th class="center aligned">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of recebimentos | filterRow : 'Cliente' : searchString; let linha = index">
          <td class="center aligned">{{ item.CodigoDoAgendamento }}</td>                    
          <td>{{ item.Vencimento }}</td>
          <td>{{ item.Cliente }}</td>
          <td class="center aligned"><div [innerHTML]="item.Situacao | status_receipt"></div></td>
          <td class="right aligned"><h4 class="ui header">{{ item.Valor | currencyformat}}</h4></td>
          <td class="center aligned">
            <i (click)="alterCustomer(linha);" class="bordered write link icon gray"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<br/>