<div class="card">
  <div class="card-body">
    <div class="taskboard page-height">
        <app-taskboard-list *ngFor="let list of taskboardManager?.TaskList" [list]="list"></app-taskboard-list>
    </div>
  </div>
</div>