<div class="card">
  <div class="card-body">
    <div class="taskboard page-height">
      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">A fazer</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="ui segments task-item">
              <div class="ui green segment">
                <h5 class="ui header">
                  <i class="circle outline link icon grey" [class]="badCurly" (click)="iconClick();"></i>
                  <div class="content">
                    Imprimir notas fiscais
                    <div class="sub header">Teste de impressão de notas</div>
                  
                  </div>
                </h5>
                <div class="content">
                    <div class="ui labels small">
                        <a class="ui red label">
                          URGENTE
                        </a>
                        <a class="ui green label">
                          TESTE
                        </a>
                      </div>
                </div>
              </div>
              <sui-accordion class="ui bottom compact secondary attached segment accordion-segment" [closeOthers]="false">
                <sui-accordion-panel>
                  <div title>
                    <i class="dropdown icon"></i>
                    Exibir tarefas
                  </div>
                  <div content>
                    <div class="ui vertical segment">
                      <h5 class="ui header">
                        <i class="circle outline link icon orange"></i>
                        <div class="content">
                          Imprimir notas fiscais
                          <div class="sub header">Teste de impressão de notas</div>
                        </div>
                      </h5>
                    </div>
                    <div class="ui vertical segment">
                      <h5 class="ui header">
                        <i class="circle outline link icon black"></i>
                        <div class="content">
                          Imprimir notas fiscais
                          <div class="sub header">Teste de impressão de notas</div>
                        </div>
                      </h5>
                    </div>
                  </div>
                </sui-accordion-panel>
              </sui-accordion>
            </div>
            <div class="ui segments task-item">
                <div class="ui green segment">
                  <h5 class="ui header">
                    <i class="circle outline link icon grey"></i>
                    <div class="content">
                      Imprimir notas fiscais
                      <div class="sub header">Teste de impressão de notas</div>
                    
                    </div>
                  </h5>
                </div>
                <sui-accordion class="ui bottom compact secondary attached segment accordion-segment" [closeOthers]="false">
                  <sui-accordion-panel>
                    <div title>
                      <i class="dropdown icon"></i>
                      Exibir tarefas
                    </div>
                    <div content>
                      <div class="ui vertical segment">
                        <h5 class="ui header">
                          <i class="circle outline link icon orange"></i>
                          <div class="content">
                            Imprimir notas fiscais
                            <div class="sub header">Teste de impressão de notas</div>
                          </div>
                        </h5>
                      </div>
                      <div class="ui vertical segment">
                        <h5 class="ui header">
                          <i class="circle outline link icon black"></i>
                          <div class="content">
                            Imprimir notas fiscais
                            <div class="sub header">Teste de impressão de notas</div>
                          </div>
                        </h5>
                      </div>
                    </div>
                  </sui-accordion-panel>
                </sui-accordion>
              </div>
            <div class="ui orange segment padded item task-item">
              <h5 class="ui header">
                <i class="circle outline link icon orange"></i>
                <div class="content">
                  Imprimir notas fiscais
                  <div class="sub header">Teste de impressão de notas</div>
                </div>
              </h5>
            </div>
            <div class="ui red segment padded item task-item">
              <h5 class="ui header">
                <i class="exclamation circle link icon red"></i>
                <div class="content">Envio da documentação para os clientes
                  <div class="sub header">Realizar o envio dos arquivo diretamente para o e-mail</div>
                </div>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Em andamento</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="ui grey segment padded item task-item">
              <h5 class="ui header">
                <i class="circle outline link icon grey"></i>
                <div class="content">
                  Imprimir notas fiscais
                  <div class="sub header">Teste de impressão de notas</div>
                </div>
              </h5>
            </div>
            <div class="ui segment padded item task-item">
              <h5 class="ui header">
                <div class="content">
                  Emissão de NFSe
                  <div class="sub header">Teste de impressão de notas</div>
                </div>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Impedimento</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="ui purple segment padded item task-item">
              <h5 class="ui header">
                <i class="circle outline link icon purple"></i>
                <div class="content">
                  Deu Certo
                  <div class="sub header">Teste de impressão de notas</div>
                </div>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Finalizado</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="ui grey segment padded item task-item task-status-info">
              <h5 class="ui header">
                <i class="circle outline link icon grey"></i>
                <div class="content">
                  Imprimir notas fiscais
                  <div class="sub header">Teste de impressão de notas</div>
                </div>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>