:host {
    padding: 0!important;
    height: 100%;
  }
  
  .gu-mirror {
    background-color: white;
    border-radius: 0.125rem;
    padding: 0.5rem;
    opacity: 1;
  }

/*******************
Taskboard scss
******************/
.taskboard {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  padding-bottom: 8px;
  padding-top:8px;
  height: 35em;
}

.ui.breadcrumb a
{
    color: #21ba45;
}


