<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Agendamento Smart</strong> by <a href="http://jgthms.com">Aleari Solutions</a>. 
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>