
<section class="section animated slideInUp">
    <div class="ui container">
        <br/>
        <br/>
        <div class="ui equal width grid">
            <div class="column">
                    <sui-select class="floating labeled icon button green"
                                icon="filter"
                                [options]="companyOptions"
                                [(ngModel)]="companySelectedOption"
                                placeholder="Selecione uma empresa"
                                labelField="title"
                                #filterSelect>
                        <div class="header">
                            <i class="tags icon"></i>
                            Filtrar pela empresa
                        </div>
                        <sui-select-option *ngFor="let o of filterSelect.filteredOptions" [value]="o"></sui-select-option>
                    </sui-select>
            </div>
            <div class="column center aligned">
                <h3 class="ui header green">
                    {{datePickerDescription}}
                    <div class="sub header">{{datePickerDay}}</div>
                </h3>
            </div>
            <div class="column right aligned">

                <button class="ui right inverted green animated button" (click)="newScheduling()">
                    <div class="visible content">Novo</div>
                    <div class="hidden content">
                      <i class="plus icon"></i>
                    </div>
                </button>

                <div class="ui icon green buttons">
                    <button class="ui button" (click)="removeDay();">
                        <i class="chevron left icon"></i>
                    </button>
                    <button class="ui button" suiDatepicker 
                        (pickerSelectedDateChange)="datepickerClick($event)" 
                        [(ngModel)]="datePicker" 
                        [pickerMode]="datePickerMode"
                        [pickerPlacement]="datePickerLocal">
                        <i class="calendar icon"></i>
                    </button>
                    <button class="ui button" (click)="addDay();">
                        <i class="chevron right icon"></i>
                    </button>
                </div>
                <!-- <div class="ui right pointing dropdown icon button">
                    <i class="settings icon"></i>
                    <div class="menu">
                        <div class="header">
                            <i class="tags icon"></i> Exibir Por</div>
                        <div class="divider"></div>
                        <div class="item">
                            <div class="ui red empty circular label"></div> Mês </div>
                        <div class="item">
                            <div class="ui blue empty circular label"></div> Semana </div>
                        <div class="item">
                            <div class="ui black empty circular label"></div> Dia </div>
                        <div class="item">
                            <div class="ui black empty circular label"></div> Multi Profissional </div>
                    </div>
                </div> -->
            </div>
            <div class="equal width row">
                    <sui-dimmer [(isDimmed)]="segmentDimmed" class="inverted" 
                                [isClickable]="false">
                            <div class="ui text loader top">Carregando...</div>
                    </sui-dimmer>
                    <div class="column">
                        <app-table-scheduler></app-table-scheduler>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <app-scheduling-page></app-scheduling-page> -->
<!--<app-footer></app-footer>-->