<ng-template #contentTimes>
  <div class="ui horizontal list">
    <div class="item">
      <div class="content">
        <div class="ui sub header">Horarios</div>
      </div>
    </div>
  </div>
</ng-template>

<table class="ui green unstackable celled table tbsmallrow">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <ng-template [ngIf]="c.Nome != 'horario'" [ngIfElse]="contentTimes">
          <div class="ui horizontal list">
            <div class="item">
              <img class="ui mini circular image" src={{c.ImagemUrl}}>
              <div class="content">
                <div class="ui sub header">{{c.Nome}}</div>
                <div class="ui sub header font normal">{{c.Profissao}}</div>
              </div>
            </div>
          </div>
        </ng-template>
      </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let a of qtdHorarios; let linha = index">
      <ng-container *ngFor="let c of columns; let i = index">
        <ng-template [ngIf]="i > 0" [ngIfElse]="contentTimeValue">
          <ng-container *ngFor="let horario of c.Horarios | filterTime : linha : i : cellsBlock">
            <td [attr.rowspan]="horario?.RowCount" [ngClass]="getClass(horario)">
              <div class="ui horizontal list cell" *ngIf="horario?.Agendamento != null">
                  <div class="content">
                    <button class="ui inverted button">
                       <!-- <i class="icon circle black"></i>  -->
                      {{horario?.Agendamento?.Nome}}
                      <div style="font-size:0.7em;">{{horario?.Agendamento?.HInicial}} às {{horario?.Agendamento?.HFinal}}</div>
                    </button>
                  </div>
                </div>
            </td>
          </ng-container>
        </ng-template>
        <ng-template #contentTimeValue>
          <td> {{c.Horarios[linha].RowCount}} </td>
        </ng-template>
        <ng-template #contentEmpty>
          <!-- <td class="selectable">
            <div class="cell">&nbsp;</div>
          </td> -->
        </ng-template>
      </ng-container>
    </tr>

  </tbody>
</table>