.cell{
    padding: 5px;
}

.cell_item_hour {
    position: absolute;
    bottom: 0px;
    float: right;
}

.ui.table td.selectable.em_atendimento,  
.ui.table tbody tr td.selectable.confirmado,
.ui.table tbody tr td.selectable.agendado,
.ui.table tbody tr td.selectable.finalizado
{
    padding: 0.3em;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, .5);
}

.ui.table td.selectable.em_atendimento  {
    background-color: rgb(179, 43, 43) !important;
}

.ui.table tbody tr td.selectable.em_atendimento:hover {
    background-color:  rgb(179, 43, 43) !important;
}

.ui.table td.confirmado {
    background-color: green !important;
}

.ui.table tbody tr td.selectable.confirmado:hover {
    background-color: green !important;
}

.ui.table tbody tr td.selectable.agendado:hover {
    background-color: rgb(218, 96, 15) !important;
}

.ui.table tbody tr td.selectable.agendado {
    background-color: rgb(218, 96, 15) !important;
}

.ui.table tbody tr td.selectable.finalizado:hover {
    background-color: gray!important;
}

.ui.table td.finalizado {
    background-color: gray !important;
} 

.ui.inverted.button{
    background-color: #fff;
    box-shadow: 0 0 0 2px #fff inset!important;
    color: rgba(0,0,0,.8);
}

