<section id="section-register">
  <br />
  <br />
  
  
  <div class="ui grid">
    <div class="three column row">
      <div class="column"></div>
      <div class="column">
        <div class="notification is-danger" *ngIf="errors.length > 0">
          <ul>
            <li *ngFor="let error of errors">{{error.message}}</li>
          </ul>
        </div>
        <div class="ui raised very padded text green segment register animated fadeInDown">
          <form [formGroup]="form" class="ui form">
            <div class="box">
              <div class="field ">
                <div class="ui left icon input">
                  <input type="text" formControlName="name" placeholder="Nome">
                  <i class="user icon"></i>
                </div>
                <div class="ui pointing red basic label" *ngIf="!form.controls.username.valid && !form.controls.username.pristine">
                  Por favor, entre com um nome de usuário valido!
                </div>
              </div>

              <div class="field ">
                <div class="ui left icon input">
                  <input type="text" formControlName="lastname" placeholder="Sobrenome">
                  <i class="user icon"></i>
                </div>
                <div class="ui pointing red basic label" *ngIf="!form.controls.username.valid && !form.controls.username.pristine">
                  Por favor, entre com um nome de usuário valido!
                </div>
              </div>

              <div class="field ">
                <div class="ui left icon input">
                  <input type="text" formControlName="email" placeholder="E-mail">
                  <i class="mail icon"></i>
                </div>
                <div class="ui pointing red basic label" *ngIf="!form.controls.email.valid && !form.controls.email.pristine">
                  Por favor, entre com um e-mail valido!
                </div>
              </div>

              <div class="field ">
                <div class="ui left icon input">
                  <input type="Date" formControlName="birthday" placeholder="Aniversário">
                  <i class="user icon"></i>
                </div>
              </div>

              <div class="field ">
                <div class="ui left icon input">
                  <input type="text" formControlName="username" placeholder="Usuário">
                  <i class="user icon"></i>
                </div>
                <div class="ui pointing red basic label" *ngIf="!form.controls.username.valid && !form.controls.username.pristine">
                  Por favor, entre com um nome de usuário valido!
                </div>
              </div>

              <div class="field ">
                <div class="ui left icon input">
                  <input type="password" formControlName="password" placeholder="Senha">
                  <i class="icon lock"></i>
                </div>
              </div>

              <div class="field ">
                <div class="ui left icon input">
                  <input type="password" formControlName="passwordconfirm" placeholder="Confirmação">
                  <i class="icon lock"></i>
                </div>
              </div>

              <div class="field">
                <p class="control">
                  <button class="ui right labeled icon button fluid green" [disabled]="!form.valid" href="dashboard.html" (click)="register()">
                    <i class="add icon"></i> Entrar
                  </button>
                </p>
                <div class="ui horizontal divider">
                    Ou
                  </div>
                <p>
                  <a routerLink="/auth/login" class="ui right labeled basic icon button fluid green" href="./account_login.html">
                      <i class="right arrow icon"></i> Já possuo uma conta
                  </a>
                </p>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="column"></div>
    </div>
  </div>

</section>