<section class="hero is-success is-fullheight">

  <div class="ui grid">
    <div class="three column row">
      <div class="column"></div>
      <div class="column">
        <div class="hero-body login">
          <div class="container has-text-centered">
            <h1 class="title pacifico medium-text animated fadeIn">
              <!-- Social App Smart -->

            </h1>

            <section>
              <div class="notification is-danger" *ngIf="errors.length > 0">
                <ul>
                  <li *ngFor="let error of errors">{{error.message}}</li>
                </ul>
              </div>

              <div class="ui raised very padded text green segment login animated fadeInDown">
                <form [formGroup]="form" class="ui form">
                  <div class="field">
                    <!-- <img class="ui centered tiny image circular image_avatar logo" src="../assets/images/logo_oficial_black.svg"> -->
                  </div>
                  <div class="field ">
                    <div class="ui left icon input" id="emailControl">
                      <input type="text" placeholder="Usuário ou Email" [ngClass]="(!form.controls.email.valid && !form.controls.email.pristine)?'is-danger':''"
                        (blur)="checkEmail()" formControlName="email">
                      <i class="user icon"></i>
                      <span *ngIf="!form.controls.email.valid && !form.controls.email.pristine" class="help is-danger">Usuário ou E-mail incorreto</span>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <input type="password" placeholder="Senha" [ngClass]="(!form.controls.password.valid && !form.controls.password.pristine)?'is-danger':''"
                        formControlName="password">
                      <i class="lock icon"></i>
                      <span *ngIf="!form.controls.password.valid && !form.controls.password.pristine" class="help is-danger">A senha deve ter 3-20 caracteres</span>
                    </div>
                  </div>
                  <!-- [disabled]="!form.valid"-->
                  <button (click)="authenticate()" class="ui right labeled icon button fluid green" href="dashboard.html">
                    <i class="right arrow icon"></i>
                    Entrar
                  </button>
                  <div class="ui horizontal divider">
                    Ou
                  </div>
                  <a routerLink="/auth/register" class="ui right labeled basic icon button fluid green" href="./account_register.html">
                    <i class="add icon"></i> Ainda não sou cadastrado
                  </a>
                  <br>

                  <div class="ui small feed">
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                          <a routerLink="/forgotpass" class="ui red">Esqueceu a senha?</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>

            </section>
          </div>
        </div>

      </div>
      <div class="column"></div>
    </div>
  </div>
</section>