<div class="content">
  <form class="ui form">
    <sui-accordion class="styled fluid" [closeOthers]="false">
      <sui-accordion-panel [isOpen]="true">
        <div title>
          <i class="dropdown icon"></i>
          Informações do Cliente
        </div>
        <div content>
          <div class="field">
            <div class="fields">
              <div class="twelve wide field">
                <label>Nome</label>
                <input type="text" name="nome" [(ngModel)]="customer.Nome" placeholder="Nome do cliente">
              </div>
              <div class="four wide field">
                <label>Contato</label>
                <input type="text" name="contato" [(ngModel)]="customer.Contato" placeholder="(99) 99999-9999">
              </div>
            </div>
            <div class="fields">
              <div class="four wide field">
                <label>Situação</label>
                <sui-select class="ui fluid selection dropdown small" [options]="situacoes"
                (selectedOptionChange)="loadSituacao($event);"
                [(ngModel)]="situacaoSelected"
                placeholder="Situação" labelField="title" #filterSelectSituacao [ngModelOptions]="{standalone: true}">
                  <sui-select-option *ngFor="let o of filterSelectSituacao.filteredOptions" [value]="o"></sui-select-option>
                </sui-select>
              </div>
              <div class="five wide field">
                <label>CNPJ / CPF</label>
                <input type="text" [(ngModel)]="customer.CnpjCpf" name="CNPJ / CPF" placeholder="999.999.999-99">
              </div>

              <div class="seven wide field">
                <label>E-mail</label>
                <input type="text" name="email" [(ngModel)]="customer.Email" placeholder="cadastro@gmail.com">
              </div>
            </div>
          </div>
        </div>
      </sui-accordion-panel>

      <sui-accordion-panel>
          <div title>
            <i class="dropdown icon"></i>
            Informações Complementares (Opcional)
          </div>
          <div content>
              <div class="three fields">
                <div class="field">
                  <label>Aniversário</label>
                  <div class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input suiDatepicker [(ngModel)]="customer.DataNascimento" [pickerMode]="datePickerMode" [pickerUseNativeOnMobile]="false"
                      [pickerPlacement]="datePickerLocal" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Observações</label>
                <textarea [(ngModel)]="customer.Observacao" [ngModelOptions]="{standalone: true}" 
                rows="4"></textarea>
              </div>
  
            </div>
        </sui-accordion-panel>

      <sui-accordion-panel>
        <div title>
          <i class="dropdown icon"></i>
          Endereço (Opcional)
        </div>
        <div content>
          <div class="field">
            <div class="fields">
              <div class="three wide field">
                <label>CEP</label>
                <input type="text" name="cep" placeholder="59000-000">
              </div>
              <div class="eleven wide field">
                <label>Logradouro</label>
                <input type="text" name="logradouro" placeholder="Rua Nova">
              </div>
              <div class="two wide field">
                <label>Numero</label>
                <input type="text" name="numero" placeholder="01">
              </div>
            </div>
            <div class="three fields">
              <div class="field">
                <label>Complemento</label>
                <input type="text" name="complemento" placeholder="Apt. #603">
              </div>
              <div class="field">
                <label>Cidade</label>
                <sui-select class="ui fluid selection dropdown small" placeholder="Cidade" labelField="title" #filterSelectCidade>
                  <sui-select-option *ngFor="let o of filterSelectCidade.filteredOptions" [value]="o"></sui-select-option>
                </sui-select>
              </div>
              <div class="field">
                <label>Bairro</label>
                <input type="text" name="bairro" placeholder="Bairro 01">
              </div>
            </div>
          </div>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </form>
</div>
  <div class="actions">
    <div class="ui black deny button" (click)="modal.deny(customer)"> Cancelar </div>
    <div class="ui positive right labeled icon button" (click)="this.modal.approve(customer);" autofocus> Salvar
      <i class="checkmark icon"></i>
    </div>
  </div>