<div class="ui container">
    <div class="computer tablet only row">
        <div class="ui fixed secondary green menu navbar page grid">
            <div class="left menu ">
                <a href="" class="icon item">
                    <i class="content green icon"></i>
                </a>
                <div class="item">
                    <div class="ui search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Common passwords...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
            <div class="center menu">
                <div class="item">
                    <a href="" style="padding-left: 50px;" class="ui center aligned header brand green">SmartScheduler</a>
                </div>
            </div>
            <div class="right menu">
                <a href="" class="icon item" routerLink="/scheduling" suiPopup popupHeader="Agenda" popupInverted>
                    <i class="calendar green icon"></i>
                </a>
                <a href="" class="icon item" routerLink="/receive" suiPopup popupHeader="Recebimentos" popupInverted>
                    <i class="chart line green icon"></i>
                </a>
                <a href="" class="icon item" routerLink="/customer" suiPopup popupHeader="Clientes" popupInverted>
                    <i class="add user green icon"></i>
                </a>
                <a class="ui dropdown green item" suiDropdown>
                    <img class="ui mini avatar image" src="./assets/images/avatar-blank.svg">
                    <i class="dropdown icon"></i>
                    <div class="menu" suiDropdownMenu>
                        <div class="ui green header">
                            <b>Carlos2035</b>
                        </div>
                        <div class="ui divider"></div>
                        <div class="item">Minha Conta</div>
                        <div class="item">Assinatura</div>
                        <div class="item">Privacidade</div>
                        <div class="ui divider"></div>
                        <div class="item" routerLink="/auth/login">Sair</div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="computer tablet only row page grid">
        <div class="four wide column">teste</div>
    </div>
</div>
<br/>

<div class="ui grid" style="display:none;">
    <div class="computer tablet only row">
        <div class="ui fixed secondary green menu navbar grid">
            <div class="left menu ">
                <a href="" class="icon item">
                    <i class="content green icon"></i>
                </a>
                <div class="item">
                    <div class="ui search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Common passwords...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
            <div class="center menu">
                <div class="item">
                    <a href="" class="ui center aligned header brand green">Agenda Online</a>
                </div>
            </div>
            <div class="right menu">
                <a href="" class="icon item">
                    <i class="diamond green icon"></i>
                </a>
                <a href="" class="icon item" (click)="addCustomer();">
                    <i class="add user green icon"></i>
                </a>
                <a class="ui dropdown green item" suiDropdown>
                    <img class="ui mini avatar image" src="./assets/images/avatar-blank.svg">
                    <i class="dropdown icon"></i>
                    <div class="menu" suiDropdownMenu>
                        <div class="ui green header">
                            <b>Carlos2035</b>
                        </div>
                        <div class="ui divider"></div>
                        <div class="item">Minha Conta</div>
                        <div class="item">Assinatura</div>
                        <div class="item">Privacidade</div>
                        <div class="ui divider"></div>
                        <div class="item" routerLink="/login">Sair</div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <!-- <div class="mobile only row">
      <div class="ui fixed inverted navbar menu"> <a href="" class="brand item">Project Name</a>
          <div class="right menu open">
              <a href="" class="menu item"> <i class="content icon"></i> </a>
          </div>
      </div>
      <div class="ui vertical navbar menu"> <a href="" class="active item">Home</a> <a href="" class="item">About</a> <a href="" class="item">Contact</a>
          <div class="ui item">
              <div class="text">Dropdown</div>
              <div class="menu"> <a class="item">Action</a> <a class="item">Another action</a> <a class="item">Something else here</a>
                  <a class="ui aider"></a> <a class="item">Seperated link</a> <a class="item">One more seperated link</a> </div>
          </div>
          <div class="menu"> <a href="" class="active item">Default</a> <a href="" class="item">Static top</a> <a href="" class="item">Fixed top</a>                    </div>
      </div>
  </div> -->
    <div class="computer tablet only row page grid">
        <div class="four wide column">teste</div>
    </div>
</div>
<br/>