.ui.secondary.menu{
    background: #FFFFFF !important;
    /*border: 1px solid rgba(34, 36, 38, 0.15) !important;*/
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: rgba(34, 36, 38, 0.15) !important;
    box-shadow: 0px 0px 2px 0px rgba(34, 36, 38, 0.15) !important;
}

.main.container {
    margin-top: 3em;
    min-height: 500px;
  }

  .ui.page.grid{
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
  }

  .center.menu{
    margin-left: -8% !important;
  }


/*http://uigradients.com/#*/
    .back1 {


background: #24C6DC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	}


    .back2 {
background: #AA076B; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #AA076B , #61045F); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #AA076B , #61045F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .back3 {
background: #fc00ff; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


   .back4 {
background: #ff0084; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff0084 , #33001b); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff0084 , #33001b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }

 .back {
    background: #ECE9E6; 
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); 
    background: linear-gradient(to left, #ECE9E6 , #FFFFFF);         
 }   






