
<br />

<div class="ui container">
  <div class="ui small breadcrumb">
    <a class="section" routerLink="/scheduling">Inicio</a>
    <i class="right chevron icon divider"></i>
    <a class="section active">Clientes</a>
  </div>
</div>
<br />
<section class="section animated slideInUp">
  <div class="ui container">
    <div class="ui grid equal width">
      <div class="row">
        <div class="column">
          <div class="row">
                  <sui-select 
                  [(ngModel)]="situacaoSelectedOption"
                  [options]="situacoes"
                  (selectedOptionChange)="loadClientes($event);"
                  labelField="title"
                  class="floating labeled icon button green" icon="filter" placeholder="Situações" #filterSelect>
                      <div class="header">
                        <i class="tags icon"></i>
                        Filtrar pela situação
                      </div>
                      <sui-select-option *ngFor="let o of filterSelect.filteredOptions" [value]="o"></sui-select-option>
                    </sui-select>
             
                  <div class="ui icon input" style="width:25em;">
                      <input type="text" name="searchString" [(ngModel)]="searchString" placeholder="Nome, CNPJ, E-mail...">
                      <i class="search icon"></i>
                    </div>
            
            </div>


        </div>
        <div class="column right aligned">

          <button class="ui basic right button">
            <i class="icon download"></i>
            Exportar
          </button>
          <button class="ui basic right button green" (click)="newCustomer();">
            <i class="icon user"></i>
            Novo
          </button>

        </div>
      </div>
    </div>

    <table class="ui single line table selectable striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Documento</th>
          <th>Contato</th>
          <th>E-mail</th>
          <th>Situação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of clientes | filterRow : 'Nome' : searchString; let linha = index">
              <td>{{ item.Nome }}</td>
              <td>{{ item.CnpjCpf }}</td>
              <td>{{ item.Contato }}</td>
              <td>{{ item.Email }}</td>
              <td>
                  <a *ngIf="item.Situacao == 'Ativo';else content" class="ui green label">{{ item.Situacao }}</a>
                  <ng-template #content><a class="ui gray label">{{ item.Situacao }}</a></ng-template>
                </td>
              <td><i (click)="alterCustomer(linha);" class="bordered write link icon gray"></i></td>
          </tr>
      </tbody>
    </table>
  </div>
</section>
<br/>